nav a {
    padding: 10px;
    background-color: rgb(255, 254, 254);
    border-radius: 7px;
    color:  rgb(112, 251, 145);
    text-decoration: none;
    margin: 5px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

header {
    background-color: rgb(112, 251, 145);
    padding: 20px;
}
footer{
background-color: rgb(112, 251, 145);
border-radius: 40px;
text-decoration: none;
 color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Arial, sans-serif;
}
